{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context %}
<div class="row not-found">
      <div class="col-md-12 text-center">
        <img class="card-img-top image-fluid" style="max-width: 100%; height:auto;" src="{{ url_for('static', filename='images/404.png') }}" alt="Card image cap">
            <p>
                The page you are looking for does not exist.
                Please <a href="{{ url_for('index') }}">click here</a> to go back to the home page.
            </p>
            
      </div>
</div>

{% endblock %}